/*general text attributes*/
h1 { 
    font-family: Arial, Helvetica, sans-serif;
    color: #698948;
    font-size: 14px;
}

/*label attributes*/
label { 
    font-family: Arial, Helvetica, sans-serif;
    color: #696d72;
    font-size: 12px;
}

#dash { 
    margin-left: 10px;
}

/*input attributes*/
input { 
    border: 1px solid #696d72;
    margin-bottom: 10px;
    margin-left: 10px;
}

